<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bincom test</title>
</head>
<body>
    <nav>
        <h1>Polling units result</h1>
        <p><a href="{% url 'selectview' %}"> +See total results of all polling units with respect to local government areas </a></p>
    </nav>

    {% for object in object_list %}
        <ul>
            <li>
                <p>{{ object.polling_unit_uniqueid }} | {{ object.party_abbreviation }} | {{ object.party_score }} | {{ object.entered_by_user }} | {{ object.date_entered }}</p>
            </li>
        </ul>
    {% endfor %}
    
</body>
</html>