<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Select Local Government Area</h2>
    <form action="">
        <select name="" id="">
        
            <!-- <option value="Select Lga">select</option> -->
            <option value="">Aniocha North</option>
            <option value="">Aniocha - South</option>
            <option value="">Ethiope East</option>
            <option value="">Ethiope West</option>
            <option value="">Ika North - East</option>
            <option value="">Ika - South</option>
            <option value="">Isoko North</option>
            <option value="">Isoko South</option>
            <option value="">Ndokwa East</option>
            <option value="">Ndokwa West</option>
            <option value="">Okpe</option>
            <option value="">Oshimili - North</option>
            <option value="">Oshimili - South</option>
            <option value="">Patani</option>
            <option value="">Sapele</option>
            <option value="">Udu</option>
            <option value="">Ughelli North</option>
            <option value="">Ughelli South</option>
            <option value="">Ukwuani</option>
            <option value="">Uvwie</option>
            <option value="">Bomadi</option>
            <option value="">Burutu</option>
            <option value="">Warri North</option>
            <option value="">Warri South</option>
            <option value="">Warri South West</option>
        </select>
    </form>
    <input type="submit" value="Submit">
</body>
</html>